TRIAL

In [ ]:
import pandas as pd

# Map existing categories to reclassified ones
category_mapping = {
    "Water Park": "Bahari",
    "Tempat Menyelam": "Bahari",
    "Pulau": "Bahari",
    "Pantai": "Bahari",
    "Taman Laut": "Bahari",
    "Museum Sejarah": "Budaya",
    "Museum Seni": "Budaya",
    "Taman Bertema": "Taman Hiburan",
    "Taman Edukasi": "Taman Hiburan",
    "Taman Nasional": "Taman Hiburan",
    "Taman Rekreasi Anak": "Taman Hiburan",
    "Kebun Binatang": "Taman Hiburan",
    "Hutan Lindung": "Cagar Alam",
    "Suaka Margasatwa": "Cagar Alam",
    "Mall": "Pusat Perbelanjaan",
    "Pasar Tradisional": "Pusat Perbelanjaan",
    "Pusat Perbelanjaan Mewah": "Pusat Perbelanjaan",
    "Toko Cinderamata": "Pusat Perbelanjaan",
    "Warisan Arsitektur": "Situs Sejarah",
    "Teater & Pertunjukan": "Teater & Pertunjukan",
    "Tempat Ibadah": "Tempat Ibadah"
}

# Load the data
file_path = '/content/new_tourism_with_id_links (1).csv'
data = pd.read_csv(file_path)

def reclassify_categories_multi(categories, mapping):
    """
    Reclassify multiple categories into their mapped groups.
    This function ensures categories are split, reclassified, and duplicates are avoided.
    """
    reclassified = set()  # Using a set to avoid duplicates

    # Iterate over all categories and apply the mapping
    for cat in categories:
        cat = cat.strip()  # Remove any leading/trailing spaces
        reclassified_category = mapping.get(cat)
        if reclassified_category:
            reclassified.add(reclassified_category)  # Add the reclassified category

    # If no categories are found, return 'Unknown'
    return ", ".join(sorted(reclassified)) if reclassified else "Unknown"

# Apply the reclassification to the 'Category' column
data["Reclassified_Category"] = data["Category"].apply(
    lambda x: reclassify_categories_multi(x.split(","), category_mapping)
)

# Save the updated data
output_file_path = "/content/tourism_reclassified.csv"
data.to_csv(output_file_path, index=False)

# Display a preview of the updated data
print(data[["Place_Name", "Category", "Reclassified_Category"]].head(10))

                          Place_Name                            Category  \
0                   Monumen Nasional          Budaya, Warisan Arsitektur
1                           Kota Tua                 Budaya, Museum Seni
2                      Dunia Fantasi           Taman Hiburan, Water Park
3  Taman Mini Indonesia Indah (TMII)  Taman Hiburan, Taman Rekreasi Anak
4           Atlantis Water Adventure        Taman Hiburan, Taman Bertema
5            Taman Impian Jaya Ancol           Taman Hiburan, Water Park
6             Kebun Binatang Ragunan          Cagar Alam, Taman Nasional
7                      Ocean Ecopark        Taman Hiburan, Taman Bertema
8                   Pelabuhan Marina                      Bahari, Pantai
9                       Pulau Tidung                  Bahari, Taman Laut

  Reclassified_Category
0         Situs Sejarah
1                Budaya
2                Bahari
3         Taman Hiburan
4         Taman Hiburan
5                Bahari
6         Taman Hiburan
7         Taman Hiburan
8                Bahari
9                Bahari

RECLASSIFY CATEGORIES

In [ ]:
import pandas as pd

# Map existing categories to reclassified ones
category_mapping = {
    "Water Park": "Bahari",
    "Tempat Menyelam": "Bahari",
    "Pulau": "Bahari",
    "Pantai": "Bahari",
    "Taman Laut": "Bahari",
    "Museum Sejarah": "Budaya",
    "Museum Seni": "Budaya",
    "Taman Bertema": "Taman Hiburan",
    "Taman Edukasi": "Taman Hiburan",
    "Taman Nasional": "Taman Hiburan",
    "Taman Rekreasi Anak": "Taman Hiburan",
    "Kebun Binatang": "Taman Hiburan",
    "Hutan Lindung": "Cagar Alam",
    "Suaka Margasatwa": "Cagar Alam",
    "Mall": "Pusat Perbelanjaan",
    "Pasar Tradisional": "Pusat Perbelanjaan",
    "Pusat Perbelanjaan Mewah": "Pusat Perbelanjaan",
    "Toko Cinderamata": "Pusat Perbelanjaan",
    "Warisan Arsitektur": "Situs Sejarah",
    "Teater & Pertunjukan": "Teater & Pertunjukan",
    "Tempat Ibadah": "Tempat Ibadah"
}

# Load the data (Replace this with your actual file path)
file_path = '/content/new_tourism_with_id_links (1).csv'
data = pd.read_csv(file_path)

def reclassify_categories_multi(categories, mapping):
    """
    Reclassify multiple categories into their mapped groups.
    Categories that are not recognized will be ignored.
    """
    reclassified = set()  # Using a set to avoid duplicates

    # Iterate over all categories and apply the mapping
    for cat in categories:
        cat = cat.strip()  # Remove any leading/trailing spaces
        if cat in mapping:
            reclassified.add(mapping[cat])  # Add the reclassified category if it exists in the mapping

    # If no categories were reclassified, return an empty string (to avoid "Unknown" or blank)
    return ", ".join(sorted(reclassified)) if reclassified else None  # Return None for no valid category

# Apply the reclassification to the 'Category' column
data["Reclassified_Category"] = data["Category"].apply(
    lambda x: reclassify_categories_multi(x.split(","), category_mapping)
)

# Remove rows where the Reclassified_Category is None or empty
data = data[data["Reclassified_Category"].notnull()]

# Save the updated data
output_file_path = "/content/tourism_reclassified_no_unknown.csv"
data.to_csv(output_file_path, index=False)

# Display a preview of the updated data
print(data[["Place_Name", "Category", "Reclassified_Category"]].head(10))

                          Place_Name                            Category  \
0                   Monumen Nasional          Budaya, Warisan Arsitektur
1                           Kota Tua                 Budaya, Museum Seni
2                      Dunia Fantasi           Taman Hiburan, Water Park
3  Taman Mini Indonesia Indah (TMII)  Taman Hiburan, Taman Rekreasi Anak
4           Atlantis Water Adventure        Taman Hiburan, Taman Bertema
5            Taman Impian Jaya Ancol           Taman Hiburan, Water Park
6             Kebun Binatang Ragunan          Cagar Alam, Taman Nasional
7                      Ocean Ecopark        Taman Hiburan, Taman Bertema
8                   Pelabuhan Marina                      Bahari, Pantai
9                       Pulau Tidung                  Bahari, Taman Laut

  Reclassified_Category
0         Situs Sejarah
1                Budaya
2                Bahari
3         Taman Hiburan
4         Taman Hiburan
5                Bahari
6         Taman Hiburan
7         Taman Hiburan
8                Bahari
9                Bahari